@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}

body {
  background-image:url('img/background.gif');
  background-size:200%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
}

.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  color: #FFF2E7;
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.conteudo {
  border-top: 0.4px solid #FFFFFF;
  margin-bottom: 48px;
}

.conteudo-principal {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  color: #FFFFFF;
  font-family: 'Righteous', cursive;
  font-size: 64px;
  font-weight: 700;
}

.conteudo-principal-escrito-subtitulo {
  color: #FFFFFF;
  font-family: 'Sarala', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.conteudo-principal-imagem {
  height: 530px;
}

.conteudo-secundario {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  padding-top: 48px;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  color: #ffffff;
  font-family: 'Sarala', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.rodape {
  border-top: 0.4px solid #FFFFFF;
  padding: 32px;
}

.rodape-imagem {
  display: block;
  height: 488px;
  margin: 0 auto;
}

/*botão começo*/

.button {
  background: #d14fc0;
  background: linear-gradient(90deg, rgb(236, 117, 216) 0%, rgb(245, 84, 210) 100%);
  border: none;
  border-radius: 1000px;
  color: #fbfbff;
  cursor: pointer;
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.1px;
  min-height: 60px;
  min-width: 200px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  }

button::before {
  border: 6px solid #f700ffcb;
  border-radius: 1000px;
  box-shadow: 0 0 60px rgba(238, 113, 221, 0.64);
  content: '';
  left: 50%;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out 0s;
  top: 50%;
}

.button:hover, .button:focus {
  color: #ffffff;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  animation: ring 1.5s infinite;
  border: 6px solid #ea00ff;
  border-radius: 100%;
  content: '';
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 30px; height: 30px;
  z-index: -1;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    height: 30px;
    width: 30px;
    opacity: 1;
  }
  100% {
    height: 200px;
    width: 200px;
    opacity: 0.3;
  }
}
/*botão fim*/
